html, body, .block{
  height: 100%;
}
.nav-mystyle{
  background: #4B004C;
}

.logo-mystyle{
  font-family: Oleo Script;
}

.banner-mystyle{
  font-family: Oleo Script;
  color: #4B004C;
  font-size: 5rem;
}
.land-mystyle{
  background: #F0B9CF;
}

.btn, .btn-large{
  background: #C70452;
}
.btn:hover, .btn-large:hover{
  background-color: #E63C80;
}
footer.page-footer{
  background: #571B3C;
}
footer.page-footer .footer-copyright{
  background: #9D2053;
}
.pin-top {
   position: relative;
 }

 .pin-bottom {
   position: relative;
 }
 
 .pinned {
   position: fixed !important;
 }
